<div *ngIf="product.title" class="card" >
    <img src="{{product.imgUrl}}" class="card-img-top" *ngIf ="product.imgUrl" alt="{{product.title}}" >
        <div class="card-body">
          <h4 class="card-title">{{product.title}}</h4>
          <p class="card-text">{{product.price | currency:"USD"}}</p>
         
        </div>
        <div class="card-footer">
            <button *ngIf="showAction"
             class="btn btn-primary w-100"
             (click)="addToCart(product)"> Add to Cart</button>
        </div>
     
 </div> 