<h1>Order Detail</h1>
<div class="row col-10" >
<p>
   Your order #{{orderProducts.orderId}} placed in  {{orderProducts.datePlaced | date: 'MM/dd/yyyy'}}
 
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>Product</th>
            <th >Quantity</th>
            <th >Price</th>
        </tr>
    </thead>
    <tbody >
    <tr *ngFor="let item of orderProducts.items" >
    
        <td>{{item.product.title}}</td>
        <td >{{item.quantity}}</td> 
 
        <td class="price">{{item.totalPrice | currency:'USD'}}</td>
   
    </tr>
</tbody>
<tfoot>
    <tr> 
        <th>Order Total:</th>
        <th></th>
        
        <th class="price">{{cartTotal | currency:'USD'}}</th>
    </tr>
</tfoot>

</table>