<h1>Shopping Cart</h1>
<div class="row col-10" *ngIf ="cart$ | async as cart">
<p>
    You have {{cart.totalItemCount}} items in your shopping cart. 
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Product</th>
            <th class="quant-width text-center">Quantity</th>
            <th class="price price-width">Price</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cart.items" >
        <td>
            <div class="thumbNail" [style.backgroundImage]="'url(' + item.imgUrl + ')'" > </div>
        </td>
        <ng-container *ngIf = "item.quantity > 0">
        <td>{{item.title}}</td>
        <!-- <td >{{item.quantity}}</td> -->
        <td>
            <app-product-quantity [product]="item" [shoppingCart]="cart"></app-product-quantity>
        </td>
        <td class="price">{{item.totalPrice | currency:"USD"}}</td>
        </ng-container>
    </tr>
</tbody>
<tfoot>
    <tr> 
        <th>Cart Total:</th>
        <th></th>
        <th></th>
        <th class="price">{{cart.totalPrice | currency:'USD'}}</th>
    </tr>
</tfoot>
</table>
<!-- <button class="btn btn-primary" (click)="cart.productIds">get iD</button> -->

</div>
<button class="btn btn-danger btn-sm"
(click)="clearCart()">
    Clear Shopping Cart
</button>

<button class="btn btn-primary" (click)="checkOut()">Check out</button>
<!-- <button class="btn btn-primary" (click)="createCart()">
    create Cart
</button>
<button class="btn btn-primary" (click)="addToCart()">
    add to cart
</button> -->