<div class="row">
    <div class="col-3">
 <app-product-filter 
 [category]="category" 

 ></app-product-filter>
    </div>
    <div class="col">
        <div class="row" >
            <ng-container *ngFor ="let product of filterProducts; let i = index">
              
        
                <div class="col"> 
                   
                   
                    <app-card [product]="product" [shoppingCart]="shoppingCart"></app-card>
                   
                  
                </div> 
                <div *ngIf="(i+1)% 2===0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>
<!-- <button class="btn btn-primary" (click)="getCart()"> get Cart testing </button> -->
