<form (ngSubmit)="onSubmit(checkoutForm.value)" action="submit" #checkoutForm = "ngForm">
    <div class="form-group" >
        <label for="firstName">FirstName</label>
        <input required ngModel 
        name="firstName" 
        #firstName="ngModel" 
        id="firstName"
        type="text" 
        class="form-control">
     
        <label for="lastName">LastName</label>
        <input 
        required
         ngModel 
         name="lastName" 
        #lastName="ngModel" 
        id="lastName"
        type="text" 
        class="form-control">
    <label for="Address">Address</label>
    <input 
    required
    ngModel
    name="addressline1"
    #addressline1="ngModel"
    type="text" 
    id="addressline1"
     class="form-control" 
     placeholder="Line 1" >
     <br>
    <input 
    required
    ngModel
    name="addressline2"
    #addressline2="ngModel"
    type="text" 
    id="addressline2"
     class="form-control" 
     placeholder="Line 2">
    <label for="city"> City </label>
    <input
    ngModel
    name="city" 
    #city="ngModel"
    type="text"
    class="form-control"
     id = "city" 
     required
     >

</div>  
    <button  [disabled]="!checkoutForm.valid" class="btn btn-primary"> Place Order</button>
</form>